# Le serveur doit suivre liens symboliques
Options +FollowSymlinks

# Activation du module de réécriture d'url

RewriteEngine on

# Règles de réécriture d'url

# Shows the book list
RewriteRule ^$ index.php?class=BookController&method=bookListAction
RewriteRule ^books$ index.php?class=BookController&method=bookListAction
# Shows the form to add a book
RewriteRule ^add-book$ index.php?class=BookController&method=formAddBookAction
# Adds the book to the list
RewriteRule ^add-book-action$ index.php?class=BookController&method=addBookAction
# Removes the book from the list
RewriteRule ^remove-book$ index.php?class=BookController&method=removeBookAction
# Shows the form to modify a book
RewriteRule ^modify-book$ index.php?class=BookController&method=formModifyBookAction
# Modifies the book
RewriteRule ^modify-book-action$ index.php?class=BookController&method=modifyBookAction


# Shows the adherents list
RewriteRule ^adherents$ index.php?class=AdherentController&method=adherentListAction
# Shows the form to add an adherent
RewriteRule ^add-adherent$ index.php?class=AdherentController&method=formAddAdherentAction
# Adds the adherent to the list
RewriteRule ^add-adherent-action$ index.php?class=AdherentController&method=addAdherentAction
# Removes the adherent to the list
RewriteRule ^remove-adherent$ index.php?class=AdherentController&method=removeAdherentAction


# Shows the borrowed books
RewriteRule ^borrowed-books$ index.php?class=BookController&method=borrowedBookListAction
# Shows the form to borrow a book
RewriteRule ^borrow-book$ index.php?class=BookController&method=formBorrowBookAction
# Removes a book from the borrowed books list
RewriteRule ^give-back-book$ index.php?class=BookController&method=giveBackBookAction